<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}"/>
</head>
<body>

<form th:method="PATCH" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="name">Set Name : </label>
    <input type="text" th:field="*{name}" id="name">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"/>
    <br/>
    <br/>
    <label for="age">Set Age : </label>
    <input type="number" th:field="*{age}" id="age">
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="error-message"/>
    <br/>
    <br/>
    <label for="email">Set Enail : </label>
    <input type="text" th:field="*{email}" id="email">
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"/>
    <br/>
    <br/>
    <input type="submit" value="Update User"/>

</form>
<h2><a href="/users">Back to Users</a></h2>
</body>
</html>